/* typography */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);


/* base */

html, body {
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}
body {
	font: large;
	word-spacing: 0.1em;
	max-width: 700px;
	margin: 0 auto;
	padding-bottom: 1em;
}

.masthead {
	max-width: 960px;
	text-align: center;
	font-size: 16px;
	
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
	color: #000000;
	text-align: center;
}

h1 {
	max-width: 980px;
	font-size: 60px;
	font-style: bold;
	line-height: 1.1;
	margin: .25em 0;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: 700;
}
h2 {
	max-width: 980px;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.31125;
	margin: .75em 0;
	clear: both;
  	text-align: center;
}

h3 {
	font-size: 25px;
	line-height: 1.167;
	margin: 1.0em 0;
  	text-align: left;
}

p, ul, ol {
	max-width: 700px;
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	line-height: 25px;
	margin: 1.556em 0;
	color: #000000;
	display: block;
	list-style-type: none;
}
p {
	margin: 1em;
}
.dear-reader {
	margin-top: 1em;
}
ol {
	list-style-type: lower-roman;
}

li {
	margin: .25em;
}

.contents {
	margin-top: 1em;
}

.footer {
	text-align: left;
	margin-top: 3.0em;
}

/* links */

a {
	text-decoration: none;
}
a:link {
	color: RosyBrown;
}
a:visited {
	color: RosyBrown;
}
a:link:hover, a:visited:hover {
	border-bottom: 1px solid;
}

  


